{{ form_start(form) }}
<div class="mt-4">
    {{ form_row(form.name) }}
</div>
<div class="mt-4">
    {{ form_row(form.email) }}
</div>
<div class="mt-4">
    {{ form_row(form.imageFile) }}
</div>
<div class="mt-4">
    {{ form_row(form.isEnabled) }}
</div>
<div class="mt-4">
    {% if (form.vars.value.id is null) %}
        {% set options = {'attr': { 'required': 'required' }} %}
    {% else %}
        {% set options = {} %}
    {% endif %}
    {{ form_row(form.password, options) }}
</div>
<div class="mt-4">
    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
    <a
            href="{{ path('admin_user_index') }}"
            class="btn btn-secondary"
    >
        Back
    </a>
</div>
{{ form_end(form) }}
