{% extends 'base_admin.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1>Comments</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>IsEnabled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.isEnabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_post_comment_enable', {'id': comment.id}) }}">
                        {% if(comment.isEnabled) %}
                            Disable
                        {% else %}
                            Enable
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>

{% endblock %}
