{% extends 'base_admin.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

    {% include '_partials/admin/_flash_messages.html.twig' %}

    <div class="d-flex w-100 justify-content-between">
        <h1>List of posts</h1>
    <div>
        <a href="{{ path('admin_post_new') }}" class="btn btn-dark d-inline-flex">Create</a>
    </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Featured Image</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content | slice(0, 50) | raw}}</td>
                <td> {% if (post.featuredImage) %}
                        <img src=" {{ vich_uploader_asset(post,'imageFile') | imagine_filter('featured_image_thumbnail')}}">
                    {% endif %}</td>
                <td>{{ post.status }}</td>
                <td>
                    <a href="{{ path('admin_post_show', {'id': post.id}) }}"><i class="bx bx-show"></i></a>
                    <a href="{{ path('admin_post_edit', {'id': post.id}) }}"><i class="bx bx-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
