<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{{ path('admin_dashboard') }}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-book"></i><span>Pages</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('admin_page_index') }}">
                        <i class="bi bi-circle"></i><span>List of pages</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_page_new') }}">
                        <i class="bi bi-circle"></i><span>Create new</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Posts</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('admin_post_index') }}">
                        <i class="bi bi-circle"></i><span>List of posts</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_post_new') }}">
                        <i class="bi bi-circle"></i><span>New post</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_post_category_new') }}">
                        <i class="bi bi-circle"></i><span>New post category</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_post_category_index') }}">
                        <i class="bi bi-circle"></i><span>List of post categories</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Contacts</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('admin_contact_list') }}">
                        <i class="bi bi-circle"></i><span>List of contacts</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-chat-left-text"></i><span>Comments</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('admin_post_comment_index') }}">
                        <i class="bi bi-circle"></i><span>List of comments</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('admin_post_tag_index') }}">
                <i class="bi bi-tag"></i>
                <span>Tags</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('admin_user_index') }}">
                        <i class="bi bi-circle"></i><span>List of users</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_user_new') }}">
                        <i class="bi bi-circle"></i><span>Create new</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#newsletter" data-bs-toggle="collapse" href="#">
                <i class="bi bi-newspaper"></i><span>Newsletter</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="newsletter" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('admin_newsletter_list') }}">
                        <i class="bi bi-circle"></i><span>List of newsletters</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('settings_index') }}">
                        <i class="bi bi-circle"></i><span>List of settings</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('settings_new') }}">
                        <i class="bi bi-circle"></i><span>Create new</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</aside><!-- End Sidebar-->
