{{ form_start(form) }}
<div class="mt-4">
    {{ form_row(form.title) }}
</div>
<div class="mt-4">
    {{ form_row(form.content) }}
</div>
<div class="mt-4">
    {% if (form.vars.value.id is null) %}
        {% set options = {'attr': { 'required': 'required' }} %}
    {% else %}
        {% set options = {} %}
    {% endif %}
    {{ form_row(form.imageFile, options) }}
</div>
<div class="mt-4">
    {{ form_row(form.status) }}
</div>

<div class="mt-4">
    {{ form_row(form.tag) }}
</div>
<div class="mt-4">
    <button
        class="btn btn-dark">
        {{ button_label|default('Save') }}
    </button>
    <a
        href="{{ path('admin_page_index') }}"
        class="btn btn-secondary"
    >
        Back
    </a>
</div>
{{ form_end(form) }}
